* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --preto: #000;
    --branco: #f4f4f4;
    --cinza: #f0f0f0;
    --cinza-medio: #A0A0A0;
    --cinza-escuro: #292929;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.cabecalho {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(236, 236, 236, 0.432);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 100px;
        height: auto;
    }
}

.menu ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    color: var(--preto);
    padding-right: 2vw;
}

a .material-symbols-outlined {
    color: #000;
}

.barra-pesquisa input {
    background: none;
    border: none;
    border-bottom: #000 1px solid;
    padding: 1em;
}

.barra-pesquisa button {
    background-color: #00000000;
    border: none;
    cursor: pointer;
    padding: .5em;
}

.barra-pesquisa {
    display: flex;
    flex-wrap: nowrap;
}

.banner {
    position: relative;
}

.banner img {
    display: block;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

.banner h2 {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    z-index: 2;
}

.categorias {
    display: flex;
    position: relative;
    justify-content: space-evenly;
}

.categorias a{
    display: flex;
    justify-content: center;
    align-items: end;
    color: var(--branco);
    font-family: 'Playfair Display', serif;
}

.categorias h2{
    position: absolute;
    margin-bottom: 5%;
}

.categorias img{
    border-radius: 20px;
    width: 18vw;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    display: block;
}